<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<span>Опа</span>
<span>{{ var }}</span>
{% for article in articles %}
    <span>{{ article.name }}</span>
{% endfor %}

</body>
</html>